@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
	font-family: 'Orbitron', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	font-size: 48pt;
}
#time{
	font-size: 60pt;
}
#date{
	font-size: 54pt;	
}
#t-d{
	width: 500px;
	border: 5px solid #000000;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
}

@media only screen and (max-width: 1100px){
	h1{
		font-size: 40pt;
	}
}
@media only screen and (max-width: 900px){
	h1{
		font-size: 32pt;
	}
}
@media only screen and (max-width: 700px){
	h1{
		font-size: 28pt;
	}
	#time{
		font-size: 48pt;
	}
	#date{
		font-size: 40pt;
	}

}
@media only screen and (max-width: 600px){
	#t-d{
		width: 350px;
	}
	h1{
		text-align: center;
	}

}
@media only screen and (max-width: 450px){
	h1{
		font-size: 24pt;
	}
	#time{
		font-size: 36pt;
	}
	#date{
		font-size: 28pt;
	}
	#t-d{
		width: 250px;
	}
}