@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
	font-family: 'Orbitron', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
h1{
	font-size: 48pt;
}
#time{
	font-size: 60pt;
}
#date{
	font-size: 54pt;	
}
#t-d{
	width: 500px;
	border: 5px solid #000000;
	border-radius: 20px;
	padding: 20px;
}

